.title {
  margin-bottom: 0;  /* set margin-bottom via tagline margin-top */
}

.tagline {
  color: blue;
  margin-top: 0.25rem;
}

.tagline a {
  text-decoration: none;
  color: inherit;
}

.row {
  text-align: center;
  margin-top: 3rem;
}

.control-label {
  color: gray;
}

.time-adjust, .time-adjust-display {
  display: inline-block;
  font-size: 4rem;
  padding: 0;
  border: 0;
}

.time-adjust-display {
  width: 70px;
}

.timer-outline {
  margin-left: auto;  /* center the div */
  margin-right: auto;  /* center the div */
  width: 300px;
  height: 300px;
  border-width: 1px;
  border-style: solid;
  border-radius: 50%;
}

.timer-label {
  margin-top: 50px;
  line-height: 2;
  font-size: 50px;
}

.timer-countdown {
  line-height: 2;
  font-size: 50px;
}

.start-stop-label {
  font-size: 3rem;
}
